*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-primary);
    background-color: var(--background-color);
    color: var(--secondary-color);
    
}

h1 {
    font-size:clamp(1.5rem, 4vw, 3rem);
    font-weight: 400;
}



.icons{
    width: 20px;
    height: 20px;
    color: #89BCD9;
}

.bg-color{
    color: var(--background-color);
}

.arrow svg{
    width: 20px;
    height: 40px;
}

a{
    color: var(--background-color);
    font-family: var(--font-secondary);
    font-size: clamp(0.8rem, 2vw, 1.2rem);
    text-decoration: none;
    transition: all 0.3s ease;
}

a:hover{
    color: var(--secondary-color);
}

.primary-color{
    color: var(--primary-color);
}

button{
    background: none;
    cursor: pointer;
    font-family: var(--font-secondary);
    font-size: 10px;
    font-weight: 300;
    color: var(--primary-color);
    padding: 8px 18px;
    border-radius: 30px;
    border-color: var(--primary-color);
    border: 0.5px solid;
}