.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hero-img{
    width: 100%;
    height: auto;
    max-width: 400px;
}

.hero-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
}

.logo{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(0.8);
}

.brackets{
    position: absolute;
    top: 10.5px;
    display: flex;
    gap: 28px;
}

.p-developer{
    color: var(--primary-color);
    font-weight: 300;
}

.font-josefin{
    font-family: var(--font-secondary);
}

.frontend-developer{
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-weight: 350;
}

.social-media{
    display: flex;
    gap: 4px;
    flex-direction: column;
    position: absolute;
    right: 0px;
}

.social-btn {
    position: relative;
    width: 20px;
    height: 20px;
}

.social-btn img {
    position: absolute;
    inset: 0;
    width: 20px;
    height: 20px;
}

.icon-hover {
    display: none;
}

.social-btn:hover .icon-normal {
    display: none;
}

.social-btn:hover .icon-hover {
    display: block;
}

