menu {
    background-color: var(--primary-color);
    width: 100%;
}

.nav-links {
    display: flex;
    gap: 50px;
}

.language-switcher {
    display: flex;
    gap: 20px;
}

.menu-content{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}