.why-me-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 60px 0px 60px;
    width: 100%;

}

.why-me-information{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    max-width: 1440px;
    padding-top: 60px;
    gap: 8px;
}

.about-typing {
  display: flex;
  align-items: center;
  gap: 18px;
  width: 400px;
}

.about-icon {
  width: 48px;
  height: 48px;
  object-fit: contain;
}

.about-text {
  font-size: 24px;
  font-weight: 600;
  color: white;
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.cursor {
  color: var(--primary-color);
  animation: blink 0.8s steps(1) infinite;
}

.text-why-me{
    width: 350px;
    max-height: auto;
    font-size: 16px;
    text-align: center;
}

.btn-lets-talk {
  display: flex;
  justify-content: end;
  padding-top: 10px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}